@media only screen and (min-width: 992px) {
    .route-container {
        padding: 20px 20vw;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .route-container {
        padding: 20px 15vw;
    }
}

@media only screen and (min-width: 500px) and (max-width: 767px) {
    .route-container {
        padding: 10px 5vw;
    }
}

@media only screen and (min-width: 200px) and (max-width: 499px)  {
    .route-container {
        padding: 10px 10px;
    }
   
}
