<ul class="nav nav-tabs" *ngIf="!selectedCar">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" [ngClass]="{'active': url === '/cars-search' || url === '/'}"
      [routerLink]="['/']"><i class="material-icons"> local_taxi </i>{{'nav.cars' | translate}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/flights-search']" [ngClass]="{'active': url === '/flights-search'}"><i class="material-icons"> flight </i>{{'nav.flights' | translate}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/hotels-search']" [ngClass]="{'active': url === '/hotels-search'}"><i class="material-icons"> hotel </i>{{'nav.hotels' | translate}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/cruises-search']" [ngClass]="{'active': url === '/cruises-search'}"><i class="material-icons">directions_boat </i>{{'nav.cruises' | translate}}</a>
  </li>
</ul>
<div *ngIf="selectedCar" class="car-search">
  <div class="location-details">{{selectedCar.pickUpLocation}}</div>
  <div class="date-details">
    <span>{{selectedCar.pickUpDate | date:'MMM d'}}, {{selectedCar.pickUpTime | timeFormat}} - </span>
    <span>{{selectedCar.dropOffDate | date:'MMM d'}}, {{selectedCar.dropOffTime | timeFormat}}</span>
  </div>
</div>
<div *ngIf="getCarItineraries?.carMockItineraries?.CarItineraries?.length">
  <p class="results-found">{{getCarItineraries?.carMockItineraries?.CarItineraries?.length}} {{'carsResults.carsFound' | translate}}</p>
</div>