<div class="car-search">
<form novalidate [formGroup]="myform">
    <div class="mb-3 row">
        <label for="pickUpLocation" class="col-12 col-sm-4 col-form-label">{{'carSearch.pickUpLocation' | translate}}</label>
        <div class="col-12 col-sm-8">
            <input type="text" class="form-control" formControlName="pickUpLocation" id="pickUpLocation">
        </div>
    </div>

    <div class="mb-3 row">
        <div class="col-6 col-sm-6">
            <label for="pickUpDate" class="col-form-label">{{'carSearch.pickUpDate' | translate}}</label>
            <input type="date" class="form-control" formControlName="pickUpDate" id="pickUpDate">
        </div>
        <div class="col-6 col-sm-6">
            <label for="dropOffDate" class="col-form-label">{{'carSearch.dropOfDate' | translate}}</label>
            <input type="date" class="form-control" formControlName="dropOffDate" id="dropOffDate">
        </div>
    </div>

    <div class="mb-3 row">
        <div class="col-6 col-sm-6">
            <label for="pickUpTime" class="col-form-label">{{'carSearch.pickUpTime' | translate}}</label>
            <input type="time" class="form-control" formControlName="pickUpTime" id="pickUpTime">
        </div>
        <div class="col-6 col-sm-6">
            <label for="dropOffTime" class="col-form-label">{{'carSearch.dropOfTime' | translate}}</label>
            <input type="time" class="form-control" formControlName="dropOffTime" id="dropOffTime">
        </div>
    </div>

    <div class="mb-3 row">
        <label for="ageOfDriver" class="col-12 col-sm-4 col-form-label">{{'carSearch.ageOfDriver' | translate}}</label>
        <div class="col-12 col-sm-8">
            <select class="form-select" aria-label="Default select example" formControlName="ageOfDriver" id="ageOfDriver">
        <option value="1-24">1-24</option>
        <option value="25+">25+</option>
      </select>
        </div>
    </div>
    <div class="d-grid gap-2">
        <button class="btn btn-primary" type="button" [disabled]="!myform.valid" (click)="getCarsResults()">{{'carSearch.searchRentalCars' | translate}}</button>
    </div>
</form>
</div>
<div class="spinner-container" *ngIf="showLoader">
    <span class="spinner"></span>
</div>
