
.button i.material-icons {
  color: white;
}

.route-labels {
  vertical-align: super;
}

.lang-dropdown .material-icons {
  vertical-align: middle;
}

.lang-dropdown .dropdown-menu .material-icons {
  float: right;
}

.lag-cart-cotainer {
  display: flex;
}

@media only screen and (max-width: 767px) {
  .offcanvas-start {
    width: 50%;
  }
}

@media only screen and (min-width: 768px) {
  .offcanvas-start {
    width: 25%;
  }
}

.sidenav-menu {
  li {
    width: 100%;
  }
  li:hover {
    background-color: #F0F0F0
  }
}
