
.button i.material-icons {
  color: white;
}

.route-labels {
  vertical-align: super;
}

.lang-dropdown .material-icons {
  vertical-align: middle;
}

.lang-dropdown .dropdown-menu .material-icons {
  float: right;
}

.lag-cart-cotainer {
  display: flex;
}

